body {
  font-family: Lato,Noto sans,"Helvetica Neue",Arial,Helvetica '微軟正黑體', 'Microsoft JhengHei', sans-serif;
}


h1, h2, h3, h4, h5, h6, .ui.header, .ui.menu, .ui.button {
 font-family: Lato,Noto sans,"Helvetica Neue",Arial,Helvetica '微軟正黑體', 'Microsoft JhengHei', sans-serif;
}

.ui.card > .content > .header, .ui.cards > .card > .content > .header {
  font-family: Lato,Noto sans,"Helvetica Neue",Arial,Helvetica '微軟正黑體', 'Microsoft JhengHei', sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
.wrapper-fluid {
  width: 100%;
  margin: 0;
}
.horizontal.padding {
  padding-left: 1rem;
  padding-right: 1rem;
}
.vertical.padding {
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.float.right {
  float: right;
}

.float.left {
  float: left;
}

.ui.tab img {
max-width:100%;
}



#header {
  background-color: #333;
  background: url(../images/header.png) repeat 0 0;
}

#header .ui.menu .item>img {
  margin: 0;
}

#header .ui.inverted.menu {
  background: url(../images/header-shell.png) no-repeat center 0;
}

#footer .footer {
  background: url(../images/footer.png) repeat 0 0;
  padding: 0;
  margin-top: 1rem;
}

#footer .wrapper {
  background: url(../images/footer-shell.png) repeat 0 0;
  padding-bottom: 2rem;
}

#footer .icon.button {
  margin-left: 0.5em;
}

.ui.cards > .card > .image:not(.ui) > img {
  border: medium none;
  height: 8rem;
  width: 100%;
  object-fit: cover;
}

.ui.menu .item > img:not(.ui) {
 width: 11em; 
}

.desktop, .laptop, .tablet, .phone {
  display: none !important;
}

@media screen and (min-width: 1440px) {
  .desktop {
    display: initial !important;
  }
}

@media screen and (max-width: 1440px) and (min-width: 840px) {
  .laptop {
    display: initial !important;
  }
}

@media screen and (max-width: 840px) and (min-width: 768px) {
  .tablet {
    display: initial !important;
  }
}

@media screen and (max-width: 768px) {
  .phone {
    display: initial !important;
  }

}
