body {
  font-family: Lato, 'LiHei Pro', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
}
.wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}


#header {
  background-color: #333;
}

#header .ui.menu .item>img {
  margin: 0;
}

#footer .footer {
  background: url(../images/footer.png) repeat 0 0;
}

#footer .icon.button {
  margin-left: 0.5em;
}


.desktop, .laptop, .tablet, .phone {
  display: none !important;
}

@media screen and (min-width: 1440px) {
  .desktop {
    display: initial !important;
  }
}

@media screen and (max-width: 1440px) and (min-width: 840px) {
  .laptop {
    display: initial !important;
  }
}

@media screen and (max-width: 840px) and (min-width: 768px) {
  .tablet {
    display: initial !important;
  }
}

@media screen and (max-width: 768px) {
  .phone {
    display: initial !important;
  }

}
