---
layout: page
title: 財團法人開放文化基金會 | Open Culture Foundation (OCF)
css: /assets/people.css
og_image: /img/cover.png
og_description: 2014 年 6 月，多個台灣開源社群共同發起開放文化基金會（Open Culture Foundation，簡稱 OCF），以法人組織的力量推廣開放文化。除了支援民間社群舉辦活動外，也協助企業、政府、非營利及學術單位導入開放文化的知識及精神，期望在產、官、學之間激起開放協作的火花。
---

<div class="ui center aligned stripe container">

  <h1 class="ui center aligned icon header">
  <i class="circular users icon"></i>
  工作夥伴
  </h1>

  <nav class="ui pagination borderless menu">
    <a class="item" href="#board">董事</a>
    <a class="item" href="#consultants">顧問</a>
    <a class="item" href="#staff">工作人員</a>
    <a class="item" href="#alumni">校友</a>
    <a class="item" href="#volunteers">志工</a>
    <a class="item" href="#partners">合作夥伴</a>
    <a class="item" href="#sponsors">贊助夥伴</a>
    <a class="item" href="#donors">捐助人</a>
  </nav>
</div>

<section id="board">
  <div class="ui stripe container">
    <h2 class="ui header">董事</h2>
    <div class="ui three stackable cards">
      {% for person in site.data.people.board %}
      <div class="card">
        <div class="avatar image">
          <img src="{{ person.avatar }}">
        </div>
        <div class="content">
          <span class="ui pointing below label">
            {{ person.role }}
          </span>
          <div class="header">{{ person.name }} 
            <span class="small">
              ({{ person.name_en }})
            </span>
          </div>
          <div class="meta">
            <div>{{ person.id }}</div>
          </div>
          <div class="description">
            <p>{{ person.description }}</p>
          </div>
        </div>
        <div class="extra content">
          <div class="ui link divided relaxed list">
            {% for link in person.link %}
            <a class="item" target="_blank" href="{{ link.url }}">
              <i class="icon globe"></i>
              {{ link.title }}
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="consultants">
  <div class="ui stripe container">
    <h2 class="ui header">顧問</h2>
    <div class="ui three stackable cards">
      {% for person in site.data.people.consultants %}
      <div class="card">
        <div class="avatar image">
          <img src="{{ person.avatar }}">
        </div>
        <div class="content">
          <span class="ui pointing below label">
            {{ person.role }}
          </span>
          <div class="header">{{ person.name }} 
            <span class="small">
              ({{ person.name_en }})
            </span>
          </div>
          <div class="meta">
            <div>{{ person.id }}</div>
          </div>
          <div class="description">
            <p>{{ person.description }}</p>
          </div>
        </div>
        <div class="extra content">
          <div class="ui link divided relaxed list">
            {% for link in person.link %}
            <a class="item" target="_blank" href="{{ link.url }}">
              <i class="icon globe"></i>
              {{ link.title }}
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="staff">
  <div class="ui stripe container">
    <h2 class="ui header">工作人員</h2>
    <div class="ui three stackable cards">
      {% for person in site.data.people.staff %}
      <div class="card">
        <div class="avatar image">
          <img src="{{ person.avatar }}">
        </div>
        <div class="content">
          <span class="ui pointing below label">
            {{ person.role }}
          </span>
          <div class="header">{{ person.name }} 
            <span class="small">
              ({{ person.name_en }})
            </span>
          </div>
          <div class="meta">
            <div>{{ person.id }}</div>
          </div>
          <div class="description">
            <p>{{ person.description }}</p>
          </div>
        </div>
        <div class="extra content">
          <div class="ui link divided relaxed list">
            {% for link in person.link %}
            <a class="item" target="_blank" href="{{ link.url }}">
              <i class="icon globe"></i>
              {{ link.title }}
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="alumni">
  <div class="ui stripe container">
    <h2 class="ui header">校友</h2>
    <div class="ui three stackable cards">
      {% for person in site.data.people.alumni %}
      <div class="card">
        <div class="avatar image">
          <img src="{{ person.avatar }}">
        </div>
        <div class="content">
          <span class="ui pointing below label">
            {{ person.role }}
          </span>
          <div class="header">{{ person.name }} 
            <span class="small">
              ({{ person.name_en }})
            </span>
          </div>
          <div class="meta">
            <div>{{ person.id }}</div>
          </div>
          <div class="description">
            <p>{{ person.description }}</p>
          </div>
        </div>
        <div class="extra content">
          <div class="ui link divided relaxed list">
            {% for link in person.link %}
            <a class="item" target="_blank" href="{{ link.url }}">
              <i class="icon globe"></i>
              {{ link.title }}
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="volunteers">
  <div class="ui stripe container">
    <h2 class="ui header">熱血志工</h2>
    <div class="ui three stackable cards">
      {% for person in site.data.people.volunteers %}
      <div class="card">
        <div class="avatar image">
          <img src="{{ person.avatar }}">
        </div>
        <div class="content">
          <span class="ui pointing below label">
            {{ person.role }}
          </span>
          <div class="header">{{ person.name }} 
            <span class="small">
              ({{ person.name_en }})
            </span>
          </div>
          <div class="meta">
            <div>{{ person.id }}</div>
          </div>
          <div class="description">
            <p>{{ person.description }}</p>
          </div>
        </div>
        <div class="extra content">
          <div class="ui link divided relaxed list">
            {% for link in person.link %}
            <a class="item" target="_blank" href="{{ link.url }}">
              <i class="icon globe"></i>
              {{ link.title }}
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>


<section id="partners">
  <div class="ui stripe container">
    <h2 class="ui header">合作夥伴</h2>
    <div class="ui three stackable cards">
      {% for org in site.data.people.partners %}
      <div class="card">
        <div class="logo image">
          <img src="{{ org.logo }}">
        </div>
        <div class="content">
          <div class="header">{{ org.name }} 
          </div>
          <div class="meta">
            <div>{{ org.name_en }}</div>
          </div>
          <div class="description">
            <p>{{ org.description }}</p>
          </div>
        </div>
        <div class="extra content">
          <div class="ui link divided relaxed list">
            {% for link in org.link %}
            <a class="item" target="_blank" href="{{ link.url }}">
              <i class="icon globe"></i>
              {{ link.title }}
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="sponsors">
  <div class="ui stripe container">
    <h2 class="ui header">贊助夥伴</h2>
    <div class="ui three stackable cards">
      {% for org in site.data.people.sponsors %}
      <div class="card">
        <div class="logo image">
          <img src="{{ org.logo }}">
        </div>
        <div class="content">
          <div class="header">{{ org.name }} 
          </div>
          <div class="meta">
            <div>{{ org.name_en }}</div>
          </div>
          <div class="description">
            <p>{{ org.description }}</p>
          </div>
        </div>
        <div class="extra content">
          <div class="ui link divided relaxed list">
            {% for link in org.link %}
            <a class="item" target="_blank" href="{{ link.url }}">
              <i class="icon globe"></i>
              {{ link.title }}
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
