<div id="footer">
            <!-- shell -->
            <div class="shell">
                <!-- footer-cols -->
                <div class="footer-cols">

                    <div class="col" id="plan">
                        <h2>工作計畫 </h2>
                        <ul>
                            <li>
                                <a href="http://ocf.tw/report/2015/" target="_blank">2015年度成果報告</a>
                            </li>
                            <li>
                                <a href="https://ocf.neticrm.tw/civicrm/mailing/view?reset=1&id=1" target="_blank">2014年度報告暨2015年度計劃</a>
                            </li>
                            <li>
                                <a href="http://blog.ocf.tw/search/label/%E6%8D%90%E6%AC%BE%E5%BE%B5%E4%BF%A1" target="_blank">捐款徵信</a>
                            </li>
                            <li>
                                <a href="/donate/">徵求專案贊助</a>
                            </li>
                            <li>
                                <a href="/donate/intl.html">青年國際開源會議盤纏申請</a>
                            </li>
                            <li>
                                <a href="/umaker/">U．MAKER 3D印表機</a>
                            </li>
                        </ul>
                    </div>


                    <div class="col" id="link">
                        <h2>相關網站</h2>
                        <ul>
                            <li><a href="https://groups.google.com/forum/#!forum/ocf-general" target="_blank">基金會一般討論 Google Group</a>
                            </li>
                            <li><a href="https://ocf-tw.hackpad.com/ItL8uKpVMqS" target="_blank">基金會 hackpad</a>
                            </li>
                            <li><a href="https://github.com/ocftw/ocf.tw/tree/gh-pages" target="_blank">網站 github</a>
                            </li>
                            <li><a href="http://blog.ocf.tw/">Blog</a>
                            </li>
                            <li><a href="/subscribe/">訂閱電子報</a>
                            </li>
                            <li><a href="https://www.youtube.com/c/OcfTw" target="_blank">YouTube</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col" id="donate" style="float: right; width: 300px;">
                        <h2>基金會資訊</h2>
			<p>桃園辦公室：(330)桃園市桃園區中山路807號</p>
			<p>Email：hi@ocf.tw</p>
                        <p>電話：(03) 220 7480 </p>
                        <p>傳真：(03) 220 1542 </p>
                        <p>統編：38552170</p>
                    </div>
                    <div class="cl">&nbsp;</div>
                </div>
                <!-- end of footer-cols -->
                <div class="footer-bottom">
                    <div class="footer-nav">
                        <ul>
                            <li><a href="/#whoweare">認識我們</a>
                            </li>
                            <li><a href="/board/">董事簡介</a>
                            </li>
                            <li><a href="/donate/">線上捐款</a>
                            </li>
                            <li><a href="/partner/">協力社群成果</a>
                            </li>
                            <li><a href="/activities/">活動紀錄</a>
                            </li>
                        </ul>
                    </div>
                    <p class="copy">Copyright &copy; 2014 OCF.tw<span>|</span>Design by: <a href="http://chocotemplates.com" target="_blank">www.ChocoTemplates.com</a>
                    </p>
                    <div class="cl">&nbsp;</div>
                </div>
            </div>
            <!-- end of shell -->
  </div>

