
<footer id="footer" class="ui inverted basic segment marginless">

  <div class="ui stripe container">

        <h2 class="ui inverted small center aligned header">
          <img src="/img/logo.png" />
          <div class="content">
            {{ site.data.people.orgs.ocf.name }}
            <div class="sub header">{{ site.data.people.orgs.ocf.name_en }}
            </div>
          </div>
        </h2>

    <hr class="ui divider" />

    <div class="ui four column stackable grid container">

      <div class="column">

        <p>{{ site.data.people.orgs.ocf.description }}</p>
        <p>
        </p>
        <div class="ui inverted list">
          <a class="item" href="http://ocf.tw/">
            <i class="globe icon"></i>
            <div class="content">
            {{ site.data.people.orgs.ocf.link[0].url }}
            </div>
          </a>
          <a class="item">
            <i class="mail icon"></i>
            <div class="content">
          hi@ocf.tw
            </div>
          </a>
        </div>


        <div class="ui inverted list">
          <div class="item">
            統一編號　38552170
          </div>
          <div class="item">
            愛心碼　1989
          </div>
          <div class="item">
            勸募字號　
          </div>
        </div>

      </div>

      <div class="column">

        <h3 class="ui inverted small header">台北辦公室
        </h3>
        <div class="ui list inverted">
          <div class="item">
            <div class="content">
              (10058) 台北市中正區八德路一段 94 號 4F
            </div>
          </div>
        </div>

        <h3 class="ui inverted small header">桃園辦公室
        </h3>
        <div class="ui list inverted">
          <div class="item">
            <div class="content">
              (33059) 桃園市桃園區中山路 807 號
            </div>
          </div>
          <div class="item">
            <i class="phone icon"></i>
            <div class="content">
              +886 3 220 7480
            </div>
          </div>
          <div class="item">
            <i class="fax icon"></i>
            <div class="content">
              +886 3 220 1542
            </div>
          </div>
        </div>

      </div>

      <div class="column">


        <h3 class="ui small inverted header">訂閱</h3>

        <div class="ui horizontal list inverted">
          <a href="/news" class="item">
            <i class="newspaper icon"></i>
            <div class="content">
            電子報
            </div>
          </a>
          <a target="_blank" href="http://blog.ocf.tw/" class="item">
            <i class="rss icon"></i>
            <div class="content">
            部落格
            </div>
          </a>
          <a class="item" href="https://www.facebook.com/www.ocf.tw">
            <i class="facebook icon"></i>
            <div class="content">
            Facebook
            </div>
          </a>
          <a class="item" href="https://www.google.com/+OcfTw">
            <i class="google plus icon"></i>
            <div class="content">
            Google+
            </div>
          </a>
          <a class="item" href="https://www.youtube.com/c/OcfTw">
            <i class="youtube play icon"></i>
            <div class="content">
            YouTube
            </div>
          </a>
        </div>

        <h3 class="ui small inverted header">參與</h3>

        <div class="ui horizontal inverted list">
          <a class="item" target="_blank" href="https://groups.google.com/forum/#!forum/ocf-general">
            <i class="comments icon"></i>
            <div class="content">
            Google Group
            </div>
          </a>
          <a class="item" target="_blank" href="https://ocf-tw.hackpad.com">
            <i class="text file icon"></i>
            <div class="content">
            Hackpad
            </div>
          </a>
          <a class="item" target="_blank" href="https://github.com/ocftw">
            <i class="github icon"></i>
            <div class="content">
            GitHub
            </div>
          </a>
        </div>

      </div>

      <div class="column">

        <h3 class="ui small inverted header">網站導覽</h3>

        <div class="ui inverted divided relaxed link list">
          <a href="/" class="item">首頁</a>
          <a href="/about" class="item">關於</a>
          <a href="/people" class="item">工作夥伴</a>
          <a href="/projects" class="item">專案與成果</a>
          <a href="/mediakit" class="item">媒體專區</a>
          <a class="item">En</a>
        </div>


      </div>

    </div>

  </footer>
