<div id="footer">
            <!-- shell -->
            <div class="shell">
                <div class="footer-bottom">
                    <div class="footer-nav">
                        <ul>
                            <li><a href="/#whoweare">認識我們</a>
                            </li>
                            <li><a href="/#director">董事簡介</a>
                            </li>
                            <li><a href="/#partner">合作夥伴</a>
                            </li>
                            <li><a href="/#volunteer">志工募集</a>
                            </li>
                            <li><a href="/#plan">工作計畫</a>
                            </li>
                            <li><a href="/#meeting">會議紀錄</a>
                            </li>
                        </ul>
                    </div>
                    <p class="copy">Copyright &copy; 2014, 2015 OCF.tw<span>|</span>Design by: <a href="http://chocotemplates.com" target="_blank">www.ChocoTemplates.com</a>
                    </p>
                    <div class="cl">&nbsp;</div>
                </div>
            </div>
            <!-- end of shell -->
</div>

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
    ga('create', 'UA-379894-19', 'auto', {'allowLinker': true});
    ga('require', 'linker');
    ga('linker:autoLink', ['neticrm.tw', 'kktix.cc', 'kktix.com'] );
    
    ga('send', 'pageview');
    </script>
