<a class="logo item" href="/">
  <img class="ui logo image" src="/img/logo.png">
</a>
<div class="right menu">
  <a href="/about" class="item" data-display="desktop">關於</a>
  <a href="/people" class="item" data-display="desktop">工作夥伴</a>
  <a href="/projects" class="item" data-display="desktop">專案與成果</a>
  <a href="/mediakit" class="item" data-display="desktop">媒體專區</a>
  <a class="item" data-display="desktop">En</a>
  <a class="item" data-display="mobile" data-toggle="sidebar">
    <i class="sidebar icon"></i>
  </a>
</div>
