<header id="header" class="ui segment inverted basic marginless paddingless">
  <div class="ui container">
    <nav class="ui secondary inverted pointing menu">
      <a class="logo item" href="/">
        <img class="ui logo image" src="/img/logo.png">
      </a>
      <div class="right menu">
        <a href="/about" class="desktop item">關於</a>
        <a href="/people" class="desktop item">工作夥伴</a>
        <a href="/projects" class="desktop item">專案與成果</a>
        <a href="/mediakit" class="desktop item">媒體專區</a>
        <a class="desktop item">En</a>
        <a class="item toggle sidebar">
          <i class="sidebar icon"></i>
        </a>
      </div>
    </nav>
  </div>
</header>