<header class="header">
            <div class="shell">
                <div class="header-top">
                    <h1 id="logo"><a href="/">oct.tw</a></h1>
                    <nav id="navigation">
                        <a href="/" class="nav-btn">Home<span></span></a>
                        <ul>
                            <li><a href="/#whoweare">認識我們</a>
                            </li>
                            <li><a href="/board/">董事簡介</a>
                            </li>
                            <li><a href="/#projects">專案介紹</a>
                            </li>
                            <li><a href="/#volunteer">志工募集</a>
                            </li>
                            <li><a href="/donate/">線上捐款</a>
                            </li>
                            <li><a href="/activities/">活動紀錄</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="cl">&nbsp;</div>
                </div>
            </div>
</header>
