<a href="/" class="item">首頁</a>
<a href="/about" class="item">關於</a>
<a href="/people" class="item">工作夥伴</a>
<a href="/projects" class="item">專案與成果</a>
<a href="/mediakit" class="item">媒體專區</a>
<a class="item">En</a>
<div class="item">
  訂閱
  <div class="menu">
    <a class="item" target="_blank" href="/news">
      <i class="newspaper icon"></i>
      電子報
    </a>
    <a class="item" target="_blank" href="http://blog.ocf.tw/">
      <i class="rss icon"></i>
      部落格
    </a>
    <a class="item" target="_blank" href="https://www.facebook.com/www.ocf.tw">
      <i class="facebook icon"></i>
      Facebook
    </a>
    <a class="item" target="_blank" href="https://www.google.com/+OcfTw">
      <i class="google plus icon"></i>
      Google+
    </a>
    <a class="item" target="_blank" href="https://www.youtube.com/c/OcfTw">
      <i class="youtube play icon"></i>
      YouTube
    </a>
  </div>
</div>
<div class="item">
  參與
  <div class="menu">
    <a class="item" target="_blank" href="https://groups.google.com/forum/#!forum/ocf-general">
      <i class="comments icon"></i>
      Google Group
    </a>
    <a class="item" target="_blank" href="https://ocf-tw.hackpad.com">
      <i class="text file icon"></i>
      Hackpad
    </a>
    <a class="item" target="_blank" href="https://github.com/ocftw">
      <i class="github icon"></i>
      GitHub
    </a>
  </div>
</div>

