
<footer id="footer">
  <div class="ui black inverted vertical footer segment">
  <div class="wrapper">

  <div class="ui container">
    <div class="ui stackable inverted grid">
      <div class="four wide column">
        <h4 class="ui inverted header">工作計畫 </h4>
          <div class="ui inverted divider"></div>
        <div class="ui inverted link list">
          <a class="item" href="https://ocf.neticrm.tw/civicrm/mailing/view?reset=1&amp;id=1&amp;_ga=1.99648796.346424689.1430383114">2014年度報告暨2015年度計劃</a>
          <a class="item" href="http://blog.ocf.tw/search/label/%E6%8D%90%E6%AC%BE%E5%BE%B5%E4%BF%A1">捐款徵信</a>
          <a class="item" href="/donate/">徵求專案贊助</a>
          <a class="item" href="/events/elc2015/">OCF 國際交流分享會</a>
          <a class="item" href="/umaker/">U．MAKER 3D印表機</a>
        </div>
      </div>
      <!---<div class="three wide column">
        <h4 class="ui inverted header">會議記錄</h4>
          <div class="ui inverted divider"></div>
        <div class="ui inverted link list">               
          <a class="item" href="https://ocf-tw.hackpad.com/MYzSdIkHe0X">捐助人會議記錄</a>
          <a class="item" href="https://ocf-tw.hackpad.com/hX7x0JLv1sb">董事籌備會會議紀錄</a>
          <a class="item" href="https://ocf-tw.hackpad.com/610-OCF--px6TtlvptWv">2014/6/10 工作會議記錄</a>
          <a class="item" href="https://ocf-tw.hackpad.com/528-OCF--GXbbUNYBtuS">2014/5/28 工作會議記錄</a>
        </div>
      </div> -->
    <div class="four wide column">
        <h4 class="ui inverted header">相關網站</h4>
        <div class="ui inverted divider"></div>
        <div class="ui inverted link list">
          <a class="item" href="https://groups.google.com/forum/#!forum/ocf-general">基金會一般討論 Google Group</a>
          <a class="item" href="https://ocf-tw.hackpad.com/ItL8uKpVMqS">基金會 hackpad</a>
          <a class="item" href="https://github.com/ocftw/ocf.tw/tree/gh-pages">網站 github</a>
          <a class="item" href="/donate/">線上捐款</a>
          <a class="item" href="/subscribe/">訂閱電子報</a>
          <a class="item" href="https://www.youtube.com/c/OcfTw">YouTube</a>
        </div>
      </div>
      <div class="six wide right floated column">
        <h4 class="ui inverted olive header">基金會資訊</h4>
        <div class="ui inverted divider"></div>
        <div class="ui inverted link list">
          <div class="content">通訊地址：(33059)桃園市桃園區中山路807號</div>
          <div class="content">Email：hi@ocf.tw</div>
          <div class="content">電話：+886 3 220 7480 </div>
          <div class="content">傳真：+886 3 220 1542 </div>
          <div class="content">統編：38552170</div>
        </div>
      </div>

        
      </div>
    </div>



    <div class="ui inverted section divider"></div>


  <div class="desktop laptop">
        <div class="ui secondary inverted  menu">
            <a class="item" href="http://ocf.tw/#whoweare" target="_blank">認識我們</a>
            <a class="item" href="http://ocf.tw/board/" target="_blank">董事簡介</a>
            <a class="item" href="http://ocf.tw/donate/" target="_blank">線上捐款</a>
            <a class="item" href="http://ocf.tw/partner/" target="_blank">協力社群成果</a>
            <a class="item" href="http://ocf.tw/activities/" target="_blank">活動記錄</a>
             

             <div class="right item">

            <a class="ui circular facebook icon button" href="https://www.facebook.com/www.ocf.tw">
              <i class="facebook icon"></i>
            </a>
            <a class="ui circular google plus icon button" href="https://www.google.com/+OcfTw">
              <i class="google plus icon"></i>
            </a>
            <a class="ui circular youtube icon button" href="https://www.youtube.com/c/OcfTw">
               <i class="youtube icon"></i>
            </a>
        </div>
    </div>
        </div>
        
        <div class="tablet phone">
            

                      <a class="ui circular facebook icon button" href="https://www.facebook.com/www.ocf.tw">
                        <i class="facebook icon"></i>
                      </a>
                      <a class="ui circular google plus icon button" href="https://www.google.com/+OcfTw">
                        <i class="google plus icon"></i>
                      </a>
                      <a class="ui circular youtube icon button" href="https://www.youtube.com/c/OcfTw">
                         <i class="youtube icon"></i>
                      </a>
                  
    
    
    
    </div>
    </div>
    
  </div>
</div>
</footer>
