<header class="header" id="header">
    <div class="wrapper">
        <div class="desktop laptop">
            <div class="ui large inverted menu">
              <div class="item">
                <a href="http://ocf.tw" class="image"><img src="/images/ocf-logo-white.png" style="height:35px"></a>
              </div>
              
              <div class="right menu">
                  <a class="item" href="http://ocf.tw/#whoweare">認識我們</a>
                  <a class="item" href="http://ocf.tw/staff/" >工作夥伴</a>
                  <a class="item" href="http://ocf.tw/donate/" >線上捐款</a>
                  <a class="item" href="http://ocf.tw/partner/" >協力社群成果</a>
                  <a class="item" href="http://ocf.tw/activities/">活動記錄</a>
              
                </div>
            </div>
        </div>
        
        <div class="tablet phone">
            <div class="ui large inverted menu">
              <div class="item">
                <a href="http://ocf.tw"><img src="/images/logo-white.png" style="height:35px"></a>
              </div>
              
              <div class="ui simple dropdown item">
                  開放文化基金會
                  <i class="dropdown icon"></i>
                  <div class="menu">
                    <a class="item" href="http://ocf.tw/#whoweare">認識我們</a>
                    <a class="item" href="http://ocf.tw/board/" >董事簡介</a>
                    <a class="item" href="http://ocf.tw/donate/" >線上捐款</a>
                    <a class="item" href="http://ocf.tw/partner/" >協力社群成果</a>
                    <a class="item" href="http://ocf.tw/activities/" >活動記錄</a>
                  </div>
                </div>
            </div>
        </div>
        
    </div>
</header>    
