<header class="header" id="header">
    <div class="wrapper">
        <div class="ui large inverted menu">
          <div class="item">
            <img src="/images/logo-white.png">
          </div>
          <div class="right menu">
              <a class="item" href="http://ocf.tw/#whoweare" target="_blank">認識我們</a>
              <a class="item" href="http://ocf.tw/board/" target="_blank">董事簡介</a>
              <a class="item" href="http://ocf.tw/#projects" target="_blank">專案介紹</a>
              <a class="item" href="http://ocf.tw/#volunteer" target="_blank">志工募集</a>
              <a class="item" href="http://ocf.tw/donate/" target="_blank">線上捐款</a>
              <a class="item" href="http://ocf.tw/activities/" target="_blank">活動記錄</a>
          </div>
        </div>
    </div>
</header>    
