/* for cards */

.display-none {
  display: none!important;
}

@media only screen and (max-width: 767px) {
.ui.stackable.cards>.card.display-none {
  display: none!important;
}  
}

/* for labels */

.ui.cards>.card .meta.ui.horizontal.labels {
  margin-top: 0.5em;
}

.ui.cards>.card .meta.ui.horizontal.labels .label {
  margin-bottom: 0.5em;
}

