---
layout: compress
---
<!DOCTYPE html>
<html>
{% include head.html %}

<body>

  <div class="ui right inverted vertical menu sidebar">
    <a href="/about" class="item">關於</a>
    <a href="/people" class="item">工作夥伴</a>
    <a href="/projects" class="item">專案與成果</a>
    <a href="/mediakit" class="item">媒體專區</a>
    <a class="item">En</a>
    <div class="item">
      訂閱
      <div class="menu">
        <a href="/news" class="item">
          <i class="inverted mail icon"></i>
          電子報
        </a>
        <a class="item" href="https://www.facebook.com/www.ocf.tw">
          Facebook
          <i class="inverted facebook icon"></i>
        </a>
        <a class="item" href="https://www.google.com/+OcfTw">
          Google+
          <i class="inverted google plus icon"></i>
        </a>
        <a class="item" href="https://www.youtube.com/c/OcfTw">
          YouTube
          <i class="inverted youtube icon"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="pusher">
    {{ content }}
    {% include footer.html %}
  </div>

  {% include script.html %}
  {% include ga.html %}
</body>
</html>
