---
layout: page
---

{% assign year = page.year | append: "" %}
{% assign id = page.project_id | append: "" %}
{% assign project = site.data.projects[year][id] %}
{% assign achievements = site.data.achievements[id] %}

<div id="project">

<section id="hero" class="ui inverted {{ page.color }} center aligned basic segment marginless">
  <img class="cover image" src="{{ project.cover }}" />
  <div class="cover"></div>
  <hr class="ui hidden section divider" />
  <div class="ui stripe relative container">
    <h1 class="ui inverted header">
      {{ project.name }}
    </h1>
    <p>
      {{ project.tagline }}
    </p>
  </div>
  <hr class="ui hidden section divider" />
</section>

<div class="ui container">
  <section class="ui inverted bottom attached {{ page.color }} segment borderless">
    <p>{{ project.description }}</p>
  </section>
</div>

<div class="ui container">
  <div class="ui hidden divider"></div>
  <div class="ui two column stackable grid">
    <div class="ten wide column">

      {% markdown {{ page.article }} %}

      {% if achievements %}
      <h2 class="ui dividing header">計畫成果</h2>
      {% include achievements.html %}
      {% endif %}

      {{ content }}

    </div>

    <div class="six wide column">
      <div class="ui sticky secondary basic segment">

      {% include meta.html %}

      </div>
    </div>

  </div>
  <div class="ui hidden divider"></div>
</div>

</div>
